h1 {
  color: red;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.remote {
  display: none;
  position: relative;
  height: 100vh;
  width: 100%;
}

button {
  display: none;
  width: 80%;
  height: 80px;
}

.arrow {
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
}

.left {
  left: 25%;
  top: 50%;
  border-left: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid black;
}

.right {
  left: 75%;
  top: 50%;
  border-right: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid black;
}

.up {
  top: 25%;
  left: 50%;
  border-top: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black;
}

.down {
  top: 75%;
  left: 50%;
  border-bottom: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid black;
}